@import "../../../mixins";
@import "../../../variables";

#aboutMe {
  background: map_get($light-theme, bgLight);
}

.about-me-block {
  @include display-flex();
  @include flex-direction(row);
}

@media only screen and (max-width: 820px) {
  .about-me-block {
    @include flex-direction(column);
  }
}

.about-me-block-image {
  @include flex(0 0 50%);

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1140px) {
  .about-me-block-image {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
  }
}

@media only screen and (max-width: 820px) {
  .about-me-block-image {
    @include flex(1 1 100%);
  }
}

.about-me-block-info {
  @include flex(0 0 50%);

  h2 {
    padding-top: 105px;
  }

  > p {
    line-height: 20px;
    width: 405px;
    font-size: 16px;
    color: map_get($light-theme, textColor);
    margin: 30px 0 20px 0;
  }

  ul {
    background: map_get($light-theme, bgWhite);
    @include display-flex();
    @include flex-direction(column);
    width: 339px;
  }

  li {
    &:last-child {
      border: none;
    }

    padding: 20px 0;
    border-bottom: 2px solid #e5e5e5;
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);

    span, p, a {
      color: map_get($light-theme, textColor);
      font-size: 18px;
      max-width: 100%;
    }

    span {
      font-family: Raleway-SemiBold, sans-serif;
      @include display-flex();
      color: map_get($light-theme, textColor);
      position: relative;

      &:after {
        content: ":";
        padding: 0 5px;
        display: block;
        font-size: 18px;
        position: relative;
        right: 0;
      }
    }
  }
}

.dark-theme {
  #aboutMe {
    background: map_get($dark-theme, bgLight);
  }

  .about-me-block-info {
    > p {
      color: map_get($dark-theme, textColor);
    }
    ul{
      background: map_get($dark-theme, bgText);
    }
    li{
      span, p, a {
        color: map_get($dark-theme, textColor);
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .about-me-block-info {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);

    h2 {
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .about-me-block-info {
    order: 1;
    @include flex(1 1 100%);
  }
}

@media only screen and (max-width: 480px) {
  .about-me-block-info {
    > p, ul {
      width: 100%;
    }
  }
}

#workExperience {
  padding: 70px 0 0 0;

  .container {
    padding-bottom: 80px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.dark-theme {
  #workExperience{
    background: map_get($dark-theme, bgLight);
  }
}

@media only screen and (max-width: 1140px) {
  #workExperience {
    padding-top: 40px;

    .container {
      padding-bottom: 40px;
    }
  }
}

#education {
  padding: 70px 0 80px 0;

  h2 {
    margin-bottom: 60px;
  }
}

.dark-theme {
  #education{
    background: map_get($dark-theme, bgText);
  }
}

@media only screen and (max-width: 1140px) {
  #education {
    padding: 40px 0;
  }
}

#mySkills {
  background: map_get($light-theme, bgLight);
  padding: 65px 0 55px 0;

  h2 {
    margin-bottom: 40px;
  }

  h2, p {
    color: map_get($light-theme, darkColor);
  }
}

.dark-theme {
  #mySkills{
    background: map_get($dark-theme, bgLight);
    h2, p {
      color: map_get($dark-theme, textColor);
    }
  }
}

@media only screen and (max-width: 1140px) {
  #mySkills {
    padding: 40px 0;
  }
}

.loading-error {
  text-align: center;
  color: red;

  &:after {
    display: none;
  }
}

