@import '../../../mixins';
@import '../../../variables';

@include font-face(Raleway-Regular, "../../../../assets/fonts/Raleway/Raleway-Regular", null, null, eot woff ttf);
@include font-face(Raleway-Medium, '../../../../assets/fonts/Raleway/Raleway-Medium', null, null, eot woff ttf);
@include font-face(Raleway-MediumItalic, '../../../../assets/fonts/Raleway/Raleway-MediumItalic', null, null, eot woff ttf);
@include font-face(Raleway-SemiBold, '../../../../assets/fonts/Raleway/Raleway-SemiBold', null, null, eot woff ttf);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

header {
  padding: 190px 0;
}

footer {
  padding: 107px 0 30px 0;
}

.dark-theme{
  footer{
    background: map_get($dark-theme, bgDark);
  }
}

@media only screen and (max-width: 1140px) {
  footer {
    padding: 30px 0;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 48px;
  color: map_get($light-theme, darkColor);
  font-family: Raleway-SemiBold, sans-serif;
}

h2 {
  font-size: 32px;
  color: #3e3e3e;
  font-family: Raleway-SemiBold, sans-serif
}

@media only screen and (max-width: 1140px) {
  h2 {
    @include display-flex();
    @include justify-content (center);
  }
}

p, span, a {
  font-size: 14px;
  font-family: Raleway-Medium, sans-serif;
  word-wrap: break-word;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

button {
  font-family: Raleway-Medium, sans-serif;
  outline: none;
}

.container {
  padding: 0 10px;
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1;
}

header{
  background: map_get($light-theme, bgDark);
}

.dark-theme{
  header{
    background: map_get($dark-theme, bgDark);
  }
  h1 {
    color: map_get($dark-theme, lightColor);
  }

  h2 {
    color: map_get($dark-theme, textColor);
  }
}

@media only screen and (max-width: 1140px) {
  .container {
    width: 100%;
  }
}

.separator {
  border-bottom: 1px solid #e5e5e5;
}

article {
  padding-top: 80px;

  h2 {
    position: relative;
    padding: 20px 0;

    &:after {
      content: "";
      display: block;
      width: 75px;
      height: 2px;
      position: absolute;
      bottom: 0;
      background: $wildWatermelonBackground;
    }
  }
}

.pageNavigation {
  position: fixed;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #fb6470;
  opacity: 0.5;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
  border: none;
  color: map_get($light-theme, darkColor);
  font-size: 16px;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}

.upPageButton {
  top: 50px;
}

.downPageButton {
  bottom: 50px;
}

@media only screen and (max-width: 1140px) {
  article {
    padding-top: 40px;
  }
}