/* line 5, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url('../fonts/Raleway/Raleway-Regular.eot?1561294224');
  src: url('../fonts/Raleway/Raleway-Regular.eot?&1561294224#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway-Regular.ttf?1561294224') format('truetype'), url('../fonts/Raleway/Raleway-Regular.eot?1561294224') format('embedded-opentype'), url('../fonts/Raleway/Raleway-Regular.woff?1561294224') format('woff');
}
@font-face {
  font-family: "Raleway-Medium";
  src: url('../fonts/Raleway/Raleway-Regular.eot?1561294224');
  src: url('../fonts/Raleway/Raleway-Regular.eot?&1561294224#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway-Medium.ttf?1561294226') format('truetype'), url('../fonts/Raleway/Raleway-Medium.eot?1561294226') format('embedded-opentype'), url('../fonts/Raleway/Raleway-Medium.woff?1561294224') format('woff');
}
@font-face {
  font-family: "Raleway-MediumItalic";
  src: url('../fonts/Raleway/Raleway-MediumItalic.eot?1561294224');
  src: url('../fonts/Raleway/Raleway-MediumItalic.eot?&1561294224#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway-MediumItalic.ttf?1561294224') format('truetype'), url('../fonts/Raleway/Raleway-MediumItalic.eot?1561294224') format('embedded-opentype'), url('../fonts/Raleway/Raleway-MediumItalic.woff?1561294224') format('woff');
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url('../fonts/Raleway/Raleway-SemiBold.eot?1561294224');
  src: url('../fonts/Raleway/Raleway-SemiBold.eot?&1561294224#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway-SemiBold.ttf?1561294224') format('truetype'), url('../fonts/Raleway/Raleway-SemiBold.eot?1561294224') format('embedded-opentype'), url('../fonts/Raleway/Raleway-SemiBold.woff?1561294224') format('woff');
}
/* line 5, ../sass/styles.sass */
h1 {
  font-size: 48px;
  color: #ffffff;
  font-family: Raleway-SemiBold, sans-serif;
}

/* line 10, ../sass/styles.sass */
h2 {
  font-size: 32px;
  color: #3e3e3e;
  font-family: Raleway-SemiBold, sans-serif;
}

/* line 15, ../sass/styles.sass */
p, span, a {
  font-size: 14px;
  font-family: Raleway-Medium, sans-serif;
  word-wrap: break-word;
}

/* line 20, ../sass/styles.sass */
a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
/* line 23, ../sass/styles.sass */
a:hover {
  text-decoration: underline;
}

/* line 26, ../sass/styles.sass */
button {
  font-family: Raleway-Medium, sans-serif;
  outline: none;
}

/* line 30, ../sass/styles.sass */
.container {
  padding: 0 10px;
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 36, ../sass/styles.sass */
.bg-dark {
  background: #353541;
}

/* line 39, ../sass/styles.sass */
.separator {
  border-bottom: 1px solid #e5e5e5;
}

/* line 42, ../sass/styles.sass */
article {
  padding-top: 80px;
}
/* line 44, ../sass/styles.sass */
article h2 {
  position: relative;
  padding: 20px 0;
}
/* line 47, ../sass/styles.sass */
article h2:after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: #fb6470;
}

/* line 56, ../sass/styles.sass */
header {
  padding: 190px 0;
}

/* line 59, ../sass/styles.sass */
.header-block {
  width: 325px;
  margin-left: 540px;
}
/* line 62, ../sass/styles.sass */
.header-block ul {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 45px;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 67, ../sass/styles.sass */
.header-block ul li {
  position: relative;
  margin-left: 15px;
  display: -webkit-flex;
  display: flex;
}
/* line 68, ../sass/styles.sass */
.header-block ul li:first-child {
  margin-left: 0;
}
/* line 71, ../sass/styles.sass */
.header-block ul li:last-child p {
  padding-right: 0;
}
/* line 73, ../sass/styles.sass */
.header-block ul li:last-child:after {
  display: none;
}
/* line 78, ../sass/styles.sass */
.header-block ul li:after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  position: relative;
  background: #ffffff;
  right: 0;
  border-left: 1px solid #8d8d92;
  border-right: 1px solid #6f6f75;
}
/* line 88, ../sass/styles.sass */
.header-block p {
  color: #ffffff;
  padding-right: 14px;
  font-size: 18px;
}
/* line 92, ../sass/styles.sass */
.header-block h1 {
  margin: 0 0 14px 0;
  text-align: center;
  border: 4px solid #fb6470;
  border-right: none;
  border-left: none;
  padding: 20px 46px;
}
/* line 99, ../sass/styles.sass */
.header-block h1, .header-block button {
  text-transform: capitalize;
}
/* line 101, ../sass/styles.sass */
.header-block button {
  display: block;
  width: 170px;
  height: 49px;
  margin: 0 auto;
  text-align: center;
  border: none;
  background: #fb6470;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 114, ../sass/styles.sass */
.header-block button:hover {
  color: #353541;
}

/* line 117, ../sass/styles.sass */
.navigation-menu {
  z-index: 1000;
  top: 30px;
  position: fixed;
  padding: 10px;
}

/* line 123, ../sass/styles.sass */
#navigationMenuButton {
  height: 33px;
  overflow: hidden;
  z-index: 1000;
  position: relative;
  width: 56px;
  display: -webkit-flex;
  display: flex;
  opacity: 0.8;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 134, ../sass/styles.sass */
#navigationMenuButton:hover {
  opacity: 1;
}
/* line 136, ../sass/styles.sass */
#navigationMenuButton span {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background: #fb6470;
  margin-bottom: 9px;
}
/* line 145, ../sass/styles.sass */
#navigationMenuButton span:last-child {
  margin-bottom: 0;
}

/* line 149, ../sass/styles.sass */
#navigationMenuButton.open span {
  margin-bottom: 0;
  top: 50%;
}
/* line 152, ../sass/styles.sass */
#navigationMenuButton.open span:nth-child(1), #navigationMenuButton.open span:nth-child(3) {
  position: absolute;
  left: 50%;
}
/* line 155, ../sass/styles.sass */
#navigationMenuButton.open span:nth-child(2) {
  left: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 158, ../sass/styles.sass */
#navigationMenuButton.open span:nth-child(1) {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* line 160, ../sass/styles.sass */
#navigationMenuButton.open span:nth-child(3) {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/* line 163, ../sass/styles.sass */
#navigationMenuList {
  width: 220px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 167, ../sass/styles.sass */
#navigationMenuList li {
  padding: 20px 10px;
  border-bottom: 2px solid #282835;
}
/* line 170, ../sass/styles.sass */
#navigationMenuList a {
  font-size: 22px;
  color: #ffffff;
}

/* line 174, ../sass/styles.sass */
.hidden {
  display: none !important;
}

/* line 177, ../sass/styles.sass */
#aboutMe {
  background: #f9f9f9;
}

/* line 180, ../sass/styles.sass */
.about-me-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 184, ../sass/styles.sass */
.about-me-block-image {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
/* line 186, ../sass/styles.sass */
.about-me-block-image img {
  max-height: 100%;
  max-width: 100%;
}

/* line 190, ../sass/styles.sass */
.about-me-block-info {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
/* line 192, ../sass/styles.sass */
.about-me-block-info h2 {
  padding-top: 105px;
}
/* line 194, ../sass/styles.sass */
.about-me-block-info > p {
  line-height: 20px;
  width: 405px;
  font-size: 16px;
  color: #3e3e3e;
  margin: 30px 0 20px 0;
}
/* line 200, ../sass/styles.sass */
.about-me-block-info ul {
  background: #ffffff;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 339px;
}
/* line 205, ../sass/styles.sass */
.about-me-block-info li {
  padding: 20px 0;
  border-bottom: 2px solid #e5e5e5;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 206, ../sass/styles.sass */
.about-me-block-info li:last-child {
  border: none;
}
/* line 213, ../sass/styles.sass */
.about-me-block-info li span, .about-me-block-info li p, .about-me-block-info li a {
  color: #3e3e3e;
  font-size: 18px;
  max-width: 100%;
}
/* line 217, ../sass/styles.sass */
.about-me-block-info li span {
  font-family: Raleway-SemiBold, sans-serif;
  display: -webkit-flex;
  display: flex;
  color: #3e3e3e;
  position: relative;
}
/* line 222, ../sass/styles.sass */
.about-me-block-info li span:after {
  content: ":";
  padding: 0 5px;
  display: block;
  font-size: 18px;
  position: relative;
  right: 0;
}

/* line 230, ../sass/styles.sass */
#workExperience {
  padding: 70px 0 0 0;
}
/* line 232, ../sass/styles.sass */
#workExperience .container {
  padding-bottom: 80px;
}
/* line 234, ../sass/styles.sass */
#workExperience h2 {
  margin-bottom: 60px;
}

/* line 237, ../sass/styles.sass */
.tree {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 241, ../sass/styles.sass */
.tree .tree-item {
  background: #353541;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 475px;
  height: 145px;
  border-radius: 10px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
/* line 252, ../sass/styles.sass */
.tree .tree-item:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}
/* line 258, ../sass/styles.sass */
.tree .tree-item h3 {
  margin: 0 20px 0 0;
  font-size: 22px;
  color: #ffffff;
  font-family: Raleway-Medium, sans-serif;
}
/* line 263, ../sass/styles.sass */
.tree .tree-item span {
  font-size: 20px;
  color: #ffffff;
}
/* line 266, ../sass/styles.sass */
.tree .tree-item .tree-item-date, .tree .tree-item p {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}
/* line 268, ../sass/styles.sass */
.tree .tree-item .tree-item-date {
  font-size: 18px;
  text-transform: uppercase;
  color: #fb6470;
}
/* line 272, ../sass/styles.sass */
.tree .tree-item p {
  color: #ffffff;
  line-height: 22px;
}
/* line 275, ../sass/styles.sass */
.tree li {
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
}
/* line 279, ../sass/styles.sass */
.tree li:nth-child(even) {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 190px;
}
/* line 283, ../sass/styles.sass */
.tree li:nth-child(even) .tree-item:after {
  top: 20px;
  right: 100%;
  border-top: 25px solid #353541;
  border-left: 35px solid transparent;
}
/* line 288, ../sass/styles.sass */
.tree li:nth-child(even) > span {
  top: 0;
  left: -21px;
}
/* line 291, ../sass/styles.sass */
.tree li:nth-child(odd) {
  margin-top: 70px;
}
/* line 294, ../sass/styles.sass */
.tree li:nth-child(odd) .tree-item:after {
  left: 100%;
  bottom: 20px;
  border-bottom: 25px solid #353541;
  border-right: 35px solid transparent;
}
/* line 299, ../sass/styles.sass */
.tree li:nth-child(odd) span {
  right: -21px;
  top: 101px;
}
/* line 302, ../sass/styles.sass */
.tree li:last-child {
  margin-bottom: 0;
}
/* line 304, ../sass/styles.sass */
.tree li > span {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #050505;
  border-radius: 50%;
  z-index: 1;
  background: #fff;
}
/* line 313, ../sass/styles.sass */
.tree li > span:after {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  border: 2px solid #050505;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: #fb6470;
  position: absolute;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 326, ../sass/styles.sass */
.tree li:after {
  display: block;
  position: absolute;
}
/* line 329, ../sass/styles.sass */
.tree:after {
  height: 100%;
  top: 0;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  border-left: 1px solid #353541;
  border-right: 1px solid #cfcfd2;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 340, ../sass/styles.sass */
#education {
  padding: 70px 0 80px 0;
}
/* line 342, ../sass/styles.sass */
#education h2 {
  margin-bottom: 60px;
}

/* line 345, ../sass/styles.sass */
#mySkills {
  background: #1d1d24;
  padding: 65px 0 55px 0;
}
/* line 348, ../sass/styles.sass */
#mySkills h2 {
  margin-bottom: 40px;
}
/* line 350, ../sass/styles.sass */
#mySkills h2, #mySkills p {
  color: #ffffff;
}

/* line 353, ../sass/styles.sass */
.my-skills-list-scale {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
/* line 357, ../sass/styles.sass */
.my-skills-list-scale p {
  margin-left: 20px;
}
/* line 359, ../sass/styles.sass */
.my-skills-list-scale div {
  width: 265px;
  height: 5px;
  background: #f9f9f9;
  position: relative;
}
/* line 364, ../sass/styles.sass */
.my-skills-list-scale div span {
  position: relative;
  display: block;
  height: 100%;
  background: #fb6470;
}
/* line 369, ../sass/styles.sass */
.my-skills-list-scale div span:before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 100%;
  width: 18px;
  height: 18px;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #fb6470;
  border-radius: 50%;
}

/* line 381, ../sass/styles.sass */
.my-skills-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 385, ../sass/styles.sass */
.my-skills-list li {
  margin-bottom: 25px;
  -webkit-flex: 1 0 calc(100% / 3);
  flex: 1 0 calc(100% / 3);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 390, ../sass/styles.sass */
.my-skills-list li > p {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: capitalize;
}

/* line 395, ../sass/styles.sass */
footer {
  padding: 107px 0 30px 0;
}

/* line 398, ../sass/styles.sass */
.footer-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-bottom: 80px;
}

/* line 403, ../sass/styles.sass */
.footer-block-message-form, .footer-block-about {
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
  display: -webkit-flex;
  display: flex;
}

/* line 407, ../sass/styles.sass */
.footer-block-message-form {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 35px;
}
/* line 412, ../sass/styles.sass */
.footer-block-message-form input, .footer-block-message-form textarea, .footer-block-message-form button {
  outline: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 415, ../sass/styles.sass */
.footer-block-message-form input {
  margin: 0 15px 17px 0;
}
/* line 417, ../sass/styles.sass */
.footer-block-message-form input, .footer-block-message-form textarea {
  border: 1px solid #353541;
  width: 265px;
  padding: 10px;
  box-sizing: border-box;
}
/* line 422, ../sass/styles.sass */
.footer-block-message-form input:hover, .footer-block-message-form input:active, .footer-block-message-form input:focus, .footer-block-message-form textarea:hover, .footer-block-message-form textarea:active, .footer-block-message-form textarea:focus {
  border-color: #fb6470;
}
/* line 424, ../sass/styles.sass */
.footer-block-message-form input:valid, .footer-block-message-form textarea:valid {
  border-color: #4ded75;
}
/* line 61, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-block-message-form input:-moz-placeholder, .footer-block-message-form textarea:-moz-placeholder {
  font-family: Raleway-MediumItalic, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}
/* line 64, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-block-message-form input::-moz-placeholder, .footer-block-message-form textarea::-moz-placeholder {
  font-family: Raleway-MediumItalic, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}
/* line 67, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-block-message-form input:-ms-input-placeholder, .footer-block-message-form textarea:-ms-input-placeholder {
  font-family: Raleway-MediumItalic, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}
/* line 56, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.footer-block-message-form input::-webkit-input-placeholder, .footer-block-message-form textarea::-webkit-input-placeholder {
  font-family: Raleway-MediumItalic, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}
/* line 430, ../sass/styles.sass */
.footer-block-message-form h2 {
  font-size: 22px;
  font-family: Raleway-Medium, sans-serif;
  margin-bottom: 20px;
}
/* line 434, ../sass/styles.sass */
.footer-block-message-form h2 {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
/* line 436, ../sass/styles.sass */
.footer-block-message-form .footer-block-message-form-inputs, .footer-block-message-form textarea {
  -webkit-flex: 1 0 50%;
  flex: 1 0 50%;
}
/* line 438, ../sass/styles.sass */
.footer-block-message-form textarea {
  height: 145px;
  resize: none;
  box-sizing: border-box;
}
/* line 442, ../sass/styles.sass */
.footer-block-message-form button {
  border: none;
  opacity: 0.7;
  font-size: 16px;
  background: #fb6470;
  font-family: Raleway-Medium, sans-serif;
  color: #ffffff;
  cursor: pointer;
  text-transform: capitalize;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px 17px;
}
/* line 455, ../sass/styles.sass */
.footer-block-message-form button:hover {
  opacity: 1;
}

/* line 458, ../sass/styles.sass */
.footer-block-about {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 50px;
  margin-left: 60px;
}
/* line 462, ../sass/styles.sass */
.footer-block-about li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}
/* line 467, ../sass/styles.sass */
.footer-block-about li:last-child {
  margin-bottom: 0;
}

/* line 470, ../sass/styles.sass */
.footer-block-about-ico {
  display: block;
  position: relative;
  margin-right: 40px;
}

/* line 476, ../sass/styles.sass */
.footer-block-about-info span, .footer-block-about-info p {
  color: #3e3e3e;
}
/* line 478, ../sass/styles.sass */
.footer-block-about-info span {
  display: block;
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 22px;
}
/* line 483, ../sass/styles.sass */
.footer-block-about-info p {
  font-size: 16px;
  line-height: 20px;
}

/* line 487, ../sass/styles.sass */
.footer-block-socials {
  margin-top: 35px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 492, ../sass/styles.sass */
.footer-block-socials li {
  position: relative;
  padding: 0 10px;
  border-right: 1px solid #acacac;
}
/* line 496, ../sass/styles.sass */
.footer-block-socials li:last-child {
  border-right: none;
}

/* line 499, ../sass/styles.sass */
.footer-block-copyright {
  text-align: center;
  margin-top: 15px;
}

/* line 503, ../sass/styles.sass */
.ico-custom {
  width: 35px;
  -webkit-flex: 0 0 35px;
  flex: 0 0 35px;
  height: 35px;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  display: block;
  background: #3e3e3e;
}

/* line 516, ../sass/styles.sass */
.ico-social {
  width: 20px;
  -webkit-flex: 0 0 20px;
  flex: 0 0 20px;
  height: 20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background: #3e3e3e;
}

/* line 530, ../sass/styles.sass */
.ico-home {
  -webkit-mask-image: url(../images/icons/custom/home-solid.svg);
  mask-image: url(../images/icons/custom/home-solid.svg);
}

/* line 534, ../sass/styles.sass */
.ico-email {
  -webkit-mask-image: url(../images/icons/custom/paper-plane-regular.svg);
  mask-image: url(../images/icons/custom/paper-plane-regular.svg);
}

/* line 538, ../sass/styles.sass */
.ico-phone {
  -webkit-mask-image: url(../images/icons/custom/phone-solid.svg);
  mask-image: url(../images/icons/custom/phone-solid.svg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 543, ../sass/styles.sass */
.ico-dribble {
  -webkit-mask-image: url(../images/icons/social/dribbble-brands.svg);
  mask-image: url(../images/icons/social/dribbble-brands.svg);
}
/* line 546, ../sass/styles.sass */
.ico-dribble:hover {
  background: #fb6470;
}

/* line 549, ../sass/styles.sass */
.ico-skype {
  -webkit-mask-image: url(../images/icons/social/skype-brands.svg);
  mask-image: url(../images/icons/social/skype-brands.svg);
}
/* line 552, ../sass/styles.sass */
.ico-skype:hover {
  background: #69d4d8;
}

/* line 555, ../sass/styles.sass */
.ico-twitter {
  mask-image: url(../images/icons/social/twitter-brands.svg);
  -webkit-mask-image: url(../images/icons/social/twitter-brands.svg);
}
/* line 558, ../sass/styles.sass */
.ico-twitter:hover {
  background: #69d4d8;
}

@media only screen and (max-width: 1200px) {
  /* line 5, ../sass/_media.sass */
  .tree .tree-item {
    width: 400px;
  }
}
@media only screen and (max-width: 1140px) {
  /* line 9, ../sass/_media.sass */
  footer {
    padding: 30px 0;
  }

  /* line 11, ../sass/_media.sass */
  article {
    padding-top: 40px;
  }

  /* line 13, ../sass/_media.sass */
  #education, #mySkills {
    padding: 40px 0;
  }

  /* line 15, ../sass/_media.sass */
  #workExperience {
    padding-top: 40px;
  }
  /* line 17, ../sass/_media.sass */
  #workExperience .container {
    padding-bottom: 40px;
  }

  /* line 19, ../sass/_media.sass */
  .container {
    width: 100%;
  }

  /* line 21, ../sass/_media.sass */
  .header-block {
    margin: 0 auto;
  }

  /* line 24, ../sass/_media.sass */
  .header-block ul {
    text-align: center;
  }
  /* line 27, ../sass/_media.sass */
  .header-block ul li:after {
    display: none;
  }
  /* line 29, ../sass/_media.sass */
  .header-block ul li:last-child {
    margin-left: 0;
  }

  /* line 31, ../sass/_media.sass */
  .about-me-block-info, .about-me-block-image {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }

  /* line 36, ../sass/_media.sass */
  .about-me-block-info h2 {
    padding-top: 20px;
  }

  /* line 38, ../sass/_media.sass */
  h2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  /* line 41, ../sass/_media.sass */
  .footer-block-message-form {
    padding-bottom: 50px;
  }

  /* line 44, ../sass/_media.sass */
  .footer-block .footer-block-about {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 47, ../sass/_media.sass */
  .footer-block .footer-block-about li {
    margin-left: 30px;
  }
  /* line 49, ../sass/_media.sass */
  .footer-block .footer-block-message-form-inputs {
    -webkit-flex: auto;
    flex: auto;
    padding-bottom: 50px;
  }
  /* line 52, ../sass/_media.sass */
  .footer-block .footer-block-message-form-inputs input {
    width: 100%;
  }
  /* line 54, ../sass/_media.sass */
  .footer-block .footer-block-message-form-inputs textarea, .footer-block .footer-block-message-form-inputs input {
    margin: 0 0 17px 0;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 57, ../sass/_media.sass */
  .my-skills-list {
    justify-content: center;
  }
  /* line 59, ../sass/_media.sass */
  .my-skills-list li {
    -webkit-flex: auto;
    flex: auto;
    align-items: center;
  }
}
@media only screen and (max-width: 950px) {
  /* line 64, ../sass/_media.sass */
  .tree li {
    height: 160px;
  }
  /* line 66, ../sass/_media.sass */
  .tree .tree-item {
    width: 340px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 10px;
  }
  /* line 71, ../sass/_media.sass */
  .tree .tree-item .tree-item-date, .tree .tree-item p {
    -webkit-flex: auto;
    flex: auto;
  }
  /* line 73, ../sass/_media.sass */
  .tree .tree-item span {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 850px) {
  /* line 76, ../sass/_media.sass */
  .footer-block {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 79, ../sass/_media.sass */
  .footer-block .footer-block-about li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 820px) {
  /* line 82, ../sass/_media.sass */
  .about-me-block {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /* line 84, ../sass/_media.sass */
  .about-me-block-info {
    order: 1;
  }

  /* line 86, ../sass/_media.sass */
  .about-me-block-info, .about-me-block-image {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  /* line 88, ../sass/_media.sass */
  .tree {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  /* line 91, ../sass/_media.sass */
  .tree:after {
    display: none;
  }
  /* line 93, ../sass/_media.sass */
  .tree li {
    -webkit-flex: auto;
    flex: auto;
  }
  /* line 94, ../sass/_media.sass */
  .tree li > span {
    display: none;
  }
  /* line 97, ../sass/_media.sass */
  .tree li .tree-item:after {
    display: none;
  }
  /* line 100, ../sass/_media.sass */
  .tree li:nth-child(even), .tree li:nth-child(odd) {
    margin-top: 40px;
    margin-bottom: 0;
    justify-content: initial;
  }
}
@media only screen and (max-width: 480px) {
  /* line 106, ../sass/_media.sass */
  .about-me-block-info > p, .about-me-block-info ul {
    width: 100%;
  }

  /* line 108, ../sass/_media.sass */
  .header-block {
    width: 100%;
  }

  /* line 111, ../sass/_media.sass */
  .tree .tree-item {
    width: 300px;
  }

  /* line 114, ../sass/_media.sass */
  .my-skills-list-scale div {
    width: 220px;
  }
}
