$wildWatermelonColor: #fb6470;
$wildWatermelonBackground: #fb6470;
$azure: #69d4d8;
$textColor: #ffffff;
$grayTextColor: #353541;

$light-theme: (
        bgDark: #eceaea,
        bgLight: #f9f9f9,
        bgWhite: #ffffff,
        lightColor: #ffffff,
        darkColor: #353541,
        textColor: #3e3e3e
);
$dark-theme: (
        bgDark: #353541,
        bgLight: #464646,
        bgText: #727272,
        lightColor: #ffffff,
        darkColor: #353541,
        textColor: #dadada
);
